<% include ./partials/header %>
    <br>
    <h2>About developer and web</h2>
    <br>
    <h3>Hi, thanks for visiting AI Weather Web! This is Yulin Shi. I am an engineer at ARM (Austin) and like software and programming.
    <br>
    <br>
    Feel free to contact me if you have any suggestions/questions.
    <br>
    <br>
    Email: yulins@umich.edu
    <br>
    Linkedin: <a href="https://www.linkedin.com/in/yulin-shi-608591a4">link</a>
    </h3>
<% include ./partials/footer %>
