/* Sticky footer styles
--------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.breakWord {
  word-wrap: break-word;
}

.noline{
  text-decoration: none;
  margin-right: 1em;
  color: black;
}


.container .text-muted {
  margin: 20px 0;
}

/* Thumbnail styles */
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

/* Google Map styles */
#map {
	height: 400px;
	width: 100%;
}

/* usedstuff show page delete button */
.delete-form {
	display: inline-block;
}

/* Flexbox grid fix */
.flex-wrap {
  display:flex;
  flex-wrap: wrap;
}

#navbar {
  display: inline;
}

.left {
  float: left;
}

.right {
  float: right;
}


.imgbackground {
  width: 100%;  
  padding-top: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.greenColor {
  color: green;
}

.greenColorBold {
  color: green;
  font-weight: bold;
}

.boldWord {
  font-weight: bold;
}

.hrMargin{
  margin-top: 5px; 
  margin-bottom: 4px;
}

.aLine {
  border-top: 1px solid rgba(50,50,50,0.2);
  margin-top: 5px; 
  margin-bottom: 4px;
}

.greyColor {
  color: grey;
}

.star {
  font-size: 30px;
	color: #5cb85c;
}

.dropdownText {
  color: black;
}

.halfWord {
  font-size: 0.5em;
}
